POSTGRES_PORT=5432
PUBLIC_PG_PORT=5432
BACKEND_PORT=3101
FRONTEND_PORT=3100

POSTGRES_USER=otaniemipeli
POSTGRES_PASSWORD=changeme
POSTGRES_DB=otaniemipeli
POSTGRES_HOST=database
POSTGRES_URL=postgresql://otaniemipeli:changeme@database:5432/otaniemipeli

FLYWAY_USER=otaniemipeli
FLYWAY_PASSWORD=changeme
FLYWAY_URL=jdbc:postgresql://database:5432/otaniemipeli
FLYWAY_LOCATIONS=filesystem:./sql

SALT=changeme
RUST_BACKTRACE=full
FRONTEND_URL="http://otaniemipeli.example.com:3100"

NEXT_PUBLIC_API_URL="http://otaniemipeli.example.com:3101/api/v1"
NEXT_PUBLIC_API_BASE_URL="http://otaniemipeli.example.com:3100/api"
