@keyframes ieturn-progressbar {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
@keyframes ieturn-fade {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
