name: build

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  frontend:
    name: Frontend checks (pnpm)
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Enable corepack
        run: corepack enable

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm types:frontend:check

      - name: Format check
        run: pnpm format:check

      - name: Build frontend
        run: pnpm build:frontend

  backend:
    name: Backend build (Rust)
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Check formatting
        run: cargo fmt --manifest-path packages/backend/Cargo.toml --all -- --check

      - name: Build backend
        run: cargo build --release --manifest-path=packages/backend/Cargo.toml

  scripts:
    name: Check script generated types
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: "3.15.0-alpha.5"

      - name: Check generated TS-types
        run: python3 scripts/generateTStypes.py --check

      - name: Check generated PY dataclasses
        run: python3 scripts/generatePYclasses.py --check
